<rp:ProfileConfiguration xsi:type="saml:SAML2SSOProfile" 
#if($SAML2SSOSigningCredentialRef)
	signingCredentialRef="$SAML2SSOSigningCredentialRef"
#end	
	includeAttributeStatement="$SAML2SSOIncludeAttributeStatement"
	assertionLifetime="$SAML2SSOAssertionLifetime"
	assertionProxyCount="$SAML2SSOAssertionProxyCount"
	signResponses="$SAML2SSOSignResponses"
	signAssertions="$SAML2SSOSignAssertions"
	signRequests="$SAML2SSOSignRequests"
	encryptAssertions="$SAML2SSOEncryptAssertions"
	encryptNameIds="$SAML2SSOEncryptNameIds"
/>