bindDN: $config.ldap.central.bindDN
bindPassword: $config.ldap.central.bindPassword
servers: $config.ldap.central.servers
maxconnections: $config.ldap.central.maxconnections
useSSL: $config.ldap.central.useSSL
