<!DOCTYPE html>
<html>
<title>Gluu SCIM 2.0 APIs Documentation</title>
<style>
.navbar-inner, .navbar-fixed-top{
background:#009D64!important;
}

</style>

<xmp theme="united" style="display:none;">
{{>markdown}}
</xmp>

<script src="strapdown.js"></script>
</html>