ShibUserPassAuth {
   edu.vt.middleware.ldap.jaas.LdapLoginModule required
	  host="$host"
      subtreeSearch="true"
      base="$base"
      subtreeSearch="true"
      serviceUser="$serviceUser"
      serviceCredential="$serviceCredential"
      userField="$userField";
};
