<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxTrust" parallel="false">
   <!-- Add Person Tests -->
   <!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Add user" enabled="true">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
        <parameter name="addPropsKey" value="test.add.person" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.AddPersonTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	
	<!-- Login Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data1" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Login with user which has role Administrator" enabled="true">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.LoginTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data1" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	
	<!-- Remove Person Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data2" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Remove user" enabled="true">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
        <parameter name="removePropsKey" value="test.remove.person" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.RemovePersonTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data2" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Search Person Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data3" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Search for user" enabled="false">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
        <parameter name="searchedPropsKey" value="test.search.user" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.SearchPersonTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data3" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Update Person Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data4" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Update user" enabled="true">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
        <parameter name="updatePropsKey" value="test.update.person" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.UpdatePersonTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data4" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- User Password Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0: Load test LDAP data5" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site 1.0: Update password" enabled="true">
		<parameter name="userPropsKey" value="test.login.user.administrator" />
        <parameter name="passwordPropsKey" value="test.password.user" />
		<classes>
			<class name="org.gluu.oxtrust.action.test.UserPasswordTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site 1.0: Cleanup test LDAP data5" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- oxChooser marshalling test -->
	<test name="oxChooser marshalling test" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.oxchooser.test.oxChooserMarshallingTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Person marshalling test -->
	<test name="Person marshalling test" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.scim.test.PersonMarshallingTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Attribute Service Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0. Load test LDAP data6" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site. Test service methods to work with attributes" enabled="false">
		<parameter name="userKey" value="attributeServiceTest.login.user" />
		<classes>
			<class name="org.gluu.oxtrust.service.test.AttributeServiceTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site. Cleanup test LDAP data6" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Group Service Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0. Load test LDAP data7" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site. Test service methods to work with groups" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.service.test.GroupServiceTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site. Cleanup test LDAP data7" enabled="true">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Person Service Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0. Load test LDAP data8" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>

	<test name="Site. Test service method to work with persons" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.service.test.PersonServiceTest" />
		</classes>
	</test>

	<!-- Cleanup testing data -->
	<test name="Site. Cleanup test LDAP data8" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Bulk Web Service Tests -->
	<test name="BulkWebService Operations test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.BulkWebServiceTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Client Association Web Service Tests -->
	<test name="ClientAssociation test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.ClientAssociationWebServiceTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- User Web Service - custom Attributes Tests -->
	<test name="UserWebService Operations test - Custom Attributes" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.CustomAttributesTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- Group Web Service  Tests -->
	<!-- Load testing data -->
	<test name="Site 1.0. Load test LDAP data9" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.LoadTestingDataTest" />
		</classes>
	</test>
	
	<test name="GroupWebService Operations test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.GroupWebServiceTest" />
		</classes>
	</test>
	
	<!-- Cleanup testing data -->
	<test name="Site. Cleanup test LDAP data9" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.action.test.util.CleanupTestingDataTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- InumGeneration Web Service  Tests -->
	<test name="InumGenerationWebService Operations test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.InumGenerationWebServiceTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- OxChooser Web Service  Tests -->
	<test name="OxChooserWebServiceTest test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.OxChooserWebServiceTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	<!-- User Web Service  Tests -->
	<test name="UserWebService Operations test" enabled="false">
		<classes>
			<class name="org.gluu.oxtrust.ws.rs.test.UserWebServiceTest" />
		</classes>
	</test>
	
	<!-- /@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@/@ -->
	
	
</suite>