<rp:ProfileConfiguration xsi:type="saml:SAML2AttributeQueryProfile" 
#if($SAML2AttributeQuerySigningCredentialRef)
	signingCredentialRef="$SAML2AttributeQuerySigningCredentialRef"
#end	
	assertionLifetime="$SAML2AttributeQueryAssertionLifetime"
	assertionProxyCount="$SAML2AttributeQueryAssertionProxyCount"
	signResponses="$SAML2AttributeQuerySignResponses"
	signAssertions="$SAML2AttributeQuerySignAssertions"
	signRequests="$SAML2AttributeQuerySignRequests"
	encryptAssertions="$SAML2AttributeQueryEncryptAssertions"
	encryptNameIds="$SAML2AttributeQueryEncryptNameIds"
/>