<rp:ProfileConfiguration xsi:type="saml:ShibbolethSSOProfile" 
#if($ShibbolethSSOSigningCredentialRef)
	signingCredentialRef="$ShibbolethSSOSigningCredentialRef"
#end	
	includeAttributeStatement="$ShibbolethSSOIncludeAttributeStatement"
	assertionLifetime="$ShibbolethSSOAssertionLifetime"
	signResponses="$ShibbolethSSOSignResponses"
	signAssertions="$ShibbolethSSOSignAssertions"
	signRequests="$ShibbolethSSOSignRequests"
/>