<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="oxTrustServer" parallel="false">

    <!-- Configuration Status Test (embedded) -->
    <test name="Configuration Status Test (embedded)" enabled="true">
        <classes>
            <class name="org.gluu.oxtrust.action.ConfigurationStatusTest"/>
        </classes>
    </test>

    <!-- Group Service Test (embedded) -->
    <test name="Group Service Test (embedded)" enabled="true">
        <classes>
            <class name="org.gluu.oxtrust.service.GroupServiceTest" />
        </classes>
    </test>

    <!-- Person Service Test (embedded) -->
    <test name="Person Service Test (embedded)" enabled="true">
        <classes>
            <class name="org.gluu.oxtrust.service.PersonServiceTest" />
        </classes>
    </test>

    <!-- Post Logout Redirect Service Test (embedded) -->
    <test name="Post Logout Redirect Service Test (embedded)" enabled="true">
        <classes>
            <class name="org.gluu.oxtrust.service.PostLogoutRedirectUriTest" />
        </classes>
    </test>

</suite>
